body {
    background: white;
}

.my-main {
    height: calc(100vh - 270px);
}

.my-footer {
    height: 200px;
    background: #f8f8f8;
}

.sidebar-left {
    padding: 16px;
}

.main-content {
    padding: 16px;
    height: 600px;
}

.ex-content {
    height: 300px;
}

.actions {
    button {
        margin-top: 16px;
    }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
